@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply bg-dark-teal
    }

    .flex::before,
    .flex::after {
        display: none !important;
    }

    /* Book - Bk */
    @font-face {
        font-family: 'Coolvetica Bk';
        src: url('../assets/font-coolvetica/CoolveticaBk-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    /* Regular */
    @font-face {
        font-family: 'Coolvetica Rg';
        src: url('../assets/font-coolvetica/CoolveticaRg-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    /* Bold */
    @font-face {
        font-family: 'Coolvetica Bold';
        src: url('../assets/font-coolvetica/CoolveticaRg-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    /* Heavy */
    @font-face {
        font-family: 'Coolvetica Hv';
        src: url('../assets/font-coolvetica/CoolveticaHv-Regular.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
    }

    * {
        font-family: "Coolvetica Bk";
    }

    .coolvetica-book {
        font-family: "Coolvetica Bk" !important;
    }

    .coolvetica-regular {
        font-family: "Coolvetica Rg" !important;
    }

    .coolvetica-bold {
        font-family: "Coolvetica Bold" !important;
    }

    .coolvetica-heavy {
        font-family: "Coolvetica Hv" !important;
    }
}

@layer components {
    .nav-link {
        @apply px-2 pt-1 pb-2 text-2xl lg:text-center text-white bg-dark-teal coolvetica-regular hover:underline underline-offset-8 hover:text-turquoise-100 focus:text-turquoise-100
    }

    .btn-primary {
        @apply px-6 py-3 text-xl transition-all bg-white rounded-full text-dark-teal coolvetica-bold hover:bg-turquoise-100 focus:bg-turquoise-100
    }
}

@layer utilities {
    #mobileToggler {
        @apply absolute right-0 top-[37px] z-40 p-2 mr-5 block lg:hidden
    }

    #mobileToggler .child {
        @apply w-6 h-[3px] bg-turquoise-500 first:mb-[10px] transition-all
    }

    #mobileToggler.toggled .child {
        @apply first:rotate-45 [&:nth-child(2)]:-rotate-45 first:origin-[10%] [&:nth-child(2)]:origin-[10%]
    }

    .top-left-triangle {
        clip-path: polygon(54% 0%, 100% 0.8%, 100% 100%, 0% 100%, 0% 53%);
    }

    .bottom-right-triangle-sm {
        clip-path: polygon(100.3% 0%, 100% 77.4%, 82.8% 100.3%, 0% 100.3%, 0% 0%);
    }

    @media screen and (max-width: 575px) {
        .top-left-triangle {
            clip-path: polygon(20% 0%, 100% 0.8%, 100% 100%, 0% 100%, 0% 20%);
        }

        #speakerCards .bottom-right-triangle-sm {
            clip-path: none;
        }
    }
}
