@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply bg-dark-teal
    }

    .flex::before,
    .flex::after {
        display: none !important;
    }

    .text-weight-normal {
        font-weight: normal !important;
        text-justify: inter-word !important;
    }

    /* Book - Bk */
    @font-face {
        font-family: 'Coolvetica Bk';
        src: url('/public/assets/font-coolvetica/CoolveticaBk-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    /* Regular */
    @font-face {
        font-family: 'Coolvetica Rg';
        src: url('/public/assets/font-coolvetica/CoolveticaRg-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    /* Bold */
    @font-face {
        font-family: 'Coolvetica Bold';
        src: url('/public/assets/font-coolvetica/CoolveticaRg-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    /* Heavy */
    @font-face {
        font-family: 'Coolvetica Hv';
        src: url('/public/assets/font-coolvetica/CoolveticaHv-Regular.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
    }

    * {
        font-family: "Coolvetica Bk";
    }

    .coolvetica-book {
        font-family: "Coolvetica Bk" !important;
    }

    .coolvetica-regular {
        font-family: "Coolvetica Rg" !important;
    }

    .coolvetica-bold {
        font-family: "Coolvetica Bold" !important;
    }

    .coolvetica-heavy {
        font-family: "Coolvetica Hv" !important;
    }

    .grecaptcha-badge {
        display: none !important;
    }

}

@layer components {
    .nav-link {
        @apply px-2 pt-1 pb-2 text-2xl lg:text-center text-white bg-dark-teal coolvetica-regular hover:underline underline-offset-8 hover:text-turquoise-100 focus:text-turquoise-100
    }

    .href-link {
        @apply text-turquoise-500 bg-dark-teal coolvetica-regular hover:underline underline-offset-8 hover:text-turquoise-300 focus:text-turquoise-300
    }

    .privacy-policy-header {
        @apply px-2 pt-1 pb-2 text-2xl lg:text-center text-white bg-dark-teal coolvetica-regular
    }

    .btn-primary {
        @apply px-6 py-3 text-xl transition-all bg-white rounded-full text-dark-teal coolvetica-bold hover:bg-turquoise-100 focus:bg-turquoise-100
    }

    .basic-text {
        @apply text-white coolvetica-regular text-weight-normal
    }

    #__modal-container, #__speaker-detail-modal-container {
        @apply fixed table h-full w-full top-0 left-0 scale-0 z-[999]
    }

    /* modal animation */
    #__modal-container.animation-unfolding {
        @apply scale-y-[0.01] scale-x-0;
        animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__modal-container.animation-unfolding .modal-background .modal-body {
        transform:scale(0);
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__modal-container.animation-unfolding.out {
        transform:scale(1);
        animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__modal-container.animation-unfolding.out .modal-background .modal-body {
        animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__modal-container .modal-background {
        @apply bg-dark-teal table-cell w-full
    }

    #__modal-container .modal-content {
        @apply pt-16 pb-[95px] relative z-20
    }

    #__modal-container .modal-header {
        @apply flex items-center justify-between mb-10 md:mb-20 container
    }

    #__modal-container .modal-body {
        @apply bg-turquoise-500 relative p-7 md:p-20 w-full max-w-[710px] mx-auto
    }

    /* modal animation */
    #__speaker-detail-modal-container.animation-unfolding {
        @apply scale-y-[0.01] scale-x-0;
        animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__speaker-detail-modal-container.animation-unfolding .modal-background .modal-body {
        transform:scale(0);
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__speaker-detail-modal-container.animation-unfolding.out {
        transform:scale(1);
        animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__speaker-detail-modal-container.animation-unfolding.out .modal-background .modal-body {
        animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    #__speaker-detail-modal-container .modal-background {
        @apply bg-dark-teal table-cell w-full
    }

    #__speaker-detail-modal-container .modal-content {
        @apply pt-16 pb-[95px] relative z-20
    }

    #__speaker-detail-modal-container .modal-header {
        @apply flex items-center justify-between mb-10 md:mb-20 container
    }

    #__speaker-detail-modal-container .modal-body {
        @apply bg-turquoise-500 relative p-7 md:p-20 w-full max-w-[710px] mx-auto
    }
}

@layer utilities {
    #mobileToggler {
        @apply absolute right-0 top-[37px] z-40 p-2 mr-5 block lg:hidden
    }

    #mobileToggler .child {
        @apply w-6 h-[3px] bg-turquoise-500 first:mb-[10px] transition-all
    }

    #mobileToggler.toggled .child {
        @apply first:rotate-45 [&:nth-child(2)]:-rotate-45 first:origin-[10%] [&:nth-child(2)]:origin-[10%]
    }

    #start {
        perspective: 30px;
    }

    #innerW {
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
    }

    .top-left-triangle {
        clip-path: polygon(54% 0%, 100% 0.8%, 100% 100%, 0% 100%, 0% 53%);
    }

    .bottom-right-triangle-sm {
        clip-path: polygon(100.3% 0%, 100% 77.4%, 82.8% 100.3%, 0% 100.3%, 0% 0%);
    }

    @media screen and (max-width: 575px) {
        .top-left-triangle {
            clip-path: polygon(20% 0%, 100% 0.8%, 100% 100%, 0% 100%, 0% 20%);
        }

        #speakerCards .bottom-right-triangle-sm {
            clip-path: none;
        }
    }

    @keyframes unfoldIn {
        0% {
            transform:scaleY(.005) scaleX(0);
        }
        50% {
            transform:scaleY(.005) scaleX(1);
        }
        100% {
            transform:scaleY(1) scaleX(1);
        }
    }

    @keyframes unfoldOut {
        0% {
            transform:scaleY(1) scaleX(1);
        }
        50% {
            transform:scaleY(.005) scaleX(1);
        }
        100% {
            transform:scaleY(.005) scaleX(0);
        }
    }

    @keyframes zoomIn {
        0% {
            transform:scale(0);
        }
        100% {
            transform:scale(1);
        }
    }

    @keyframes zoomOut {
        0% {
            transform:scale(1);
        }
        100% {
            transform:scale(0);
        }
    }
}
